@keyframes rising {
    0% {
        transform: translate(0, 5rem);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes leftside {
    0% {
        transform: translate(-10rem, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes rightside {
    0% {
        transform: translate(10rem, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.bodyHeader {
    animation: rising 2s ease-out;
    transition: 2s;
}

.col1 {
    animation: leftside 2s;
}

.col2 {
    animation: rightside 2s;
}

.planet:hover {
    transform: scale(1.05);
    transition: 0.5s;
}